.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: #3b79c3;
}

body {
  background-color: #f2e5d5;
  font-family: 'Vast Shadow', sans-serif;
  color: #f2e5d5;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 46px;
  line-height: 1.25;
  font-weight: 800;
}

h2 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 700;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.3;
}

h5 {
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 1.3;
  text-transform: none;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}

p {
  margin-top: 0px;
  margin-bottom: 1%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

a {
  color: #f56960;
  line-height: 1.4;
  letter-spacing: 0px;
  text-decoration: underline;
}

.button {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #000;
  background-color: #f6e03c;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  font-family: Mplus1p, sans-serif;
  color: #242528;
  font-weight: 700;
  text-align: center;
}

.button:hover {
  background-color: #e4c900;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.button:active {
  background-color: #cfb705;
}

.button.dis {
  background-color: #e7e1bf;
}

.button.dis:hover {
  background-color: #c7c098;
}

.button.long {
  padding-right: 63px;
  padding-left: 63px;
}

.button.margin-top {
  margin-top: 20px;
}

.button.margin-top.back {
  display: none;
}

.button.home-p {
  margin-top: 4%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.button.cms-abs {
  position: absolute;
  left: auto;
  top: 2%;
  right: 2%;
  bottom: auto;
  background-color: #83d2e1;
}

.button.cms-abs:hover {
  background-color: #38c0da;
}

.step-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 90vh;
  margin-top: -1px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 20px 0px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #080705;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
}

.brand.footer {
  color: #fff;
}

.brand.footer.w--current {
  margin-right: 20px;
  color: #fff;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  min-height: 60px;
  background-color: #e7e1bf;
}

.container-nav {
  max-width: 1280px;
}

.plus-block {
  position: absolute;
  left: -4%;
  top: -18%;
  right: auto;
  bottom: auto;
}

.plus-block.logo {
  position: relative;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-right: 20px;
  margin-bottom: 0px;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}

.plus-up {
  position: relative;
  z-index: 2;
  width: 15px;
  height: 46px;
  margin-left: 15.5px;
  background-color: #12a07e;
}

.plus-down {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 48px;
  height: 15px;
  margin-top: 15.5px;
  background-color: #08d9a7;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-2 {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #242528;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #6d7283;
  text-align: left;
}

.footer-link {
  display: block;
  color: #12a07e;
  letter-spacing: 0px;
  text-decoration: none;
}

.footer-link:hover {
  color: #36f8c9;
  text-decoration: underline;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 80px;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(21, 28, 52, 0.06);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  text-decoration: none;
}

.slider-left:hover {
  background-color: rgba(21, 28, 52, 0.15);
}

.slide {
  position: static;
  width: 100%;
  height: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 20px;
}

.logo {
  margin-bottom: 40px;
}

.logo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox-title {
  display: none;
  margin-bottom: 0px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #5b3acc;
  font-size: 14px;
}

.checkbox {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 200;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-left: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
}

.checkbox:active {
  border: 1px solid #000;
}

.checkbox-new {
  position: relative;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-bottom: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #242528;
  background-color: #83d2e1;
  opacity: 0;
}

.checkbox-new.on-2 {
  z-index: 9999;
  background-color: #38c0da;
  opacity: 1;
}

.line {
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: #242528;
}

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
  min-width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.grid-invite {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 66.6666vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.img-m-i {
  height: 33.33vh;
  padding: 17px;
  background-image: url('../images/WhatsApp-Image-2022-04-24-at-12.46.30.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.bg {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  padding: 6%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 3em;
  line-height: 1.1;
}

.bg.is--black {
  background-color: #242528;
}

.bg.is--black.h {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.bg.is--yellow {
  background-color: #f6e03c;
  background-image: url('../images/Rings.png');
  background-position: 0px 0px;
  background-size: auto;
}

.bg.is--yellow.is-2g {
  background-image: none;
}

.bg.is--t {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #e7e1bf;
  color: #242528;
  text-align: center;
}

.bg.is--black-h {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #242528;
}

.rings-img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-abs {
  position: absolute;
}

.text-abs.pad {
  padding-right: 6%;
}

.jumbo {
  font-size: 2.1em;
  line-height: 0.8;
}

.big {
  font-size: 1.1em;
  line-height: 0.9;
}

.grid-form {
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 30%;
  height: 100vh;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: solid;
  border-width: 0px 2px;
  border-color: #000;
  font-family: Mplus1p, sans-serif;
}

.invite-names {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8em;
  font-weight: 600;
}

.margin-10 {
  margin-right: 10px;
}

.videowrap {
  position: relative;
  padding: 0%;
}

.form-abs {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.button-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #242528;
}

.div-block-4 {
  position: absolute;
  left: auto;
  top: auto;
  right: 6%;
  bottom: 25%;
  z-index: 9;
}

.counter-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hack17-counter-button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4px;
  margin-left: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #000;
  background-color: #83d2e1;
  direction: rtl;
  font-family: Mplus1p, sans-serif;
  color: #242528;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.hack17-counter-button:hover {
  background-color: #38c0da;
}

.hack17-counter-input {
  width: 50%;
  height: 60px;
  margin-bottom: 0px;
  border: 1px solid #000;
  color: #242528;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.hack17-counter-input::-webkit-input-placeholder {
  color: #242528;
}

.hack17-counter-input:-ms-input-placeholder {
  color: #242528;
}

.hack17-counter-input::-ms-input-placeholder {
  color: #242528;
}

.hack17-counter-input::placeholder {
  color: #242528;
}

.not-coming-field {
  display: none;
}

.success-message-2 {
  padding-top: 20%;
  background-color: #f2e5d5;
  color: #242528;
}

.gif-wrap {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gif-top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
}

.error-message-2 {
  background-color: #f2e5d5;
  color: #242528;
}

.bee {
  position: absolute;
  left: auto;
  top: 6%;
  right: 16%;
  bottom: auto;
  z-index: 99;
}

.top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: #f6e03c;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.img-a {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.img-a.flower {
  background-image: url('../images/yellow-flower-1.png');
  background-position: 50% 50%;
  background-size: 387px;
}

.img-a.sunday {
  background-image: url('../images/Cocktail-Amy-Shamblen.png');
  background-position: 50% 50%;
  background-size: cover;
}

.button-wrap-mobile {
  display: none;
  width: 100%;
  height: 8vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lottie-animation {
  position: absolute;
  left: auto;
  top: 14%;
  right: 34%;
  bottom: auto;
  width: 40%;
}

.field-label {
  font-size: 12px;
}

.field-q {
  font-size: 18px;
  font-weight: 700;
}

.checkbox-text-wrapper-2 {
  position: relative;
  z-index: 9;
  margin-right: 10px;
  margin-left: 10px;
  text-transform: capitalize;
  cursor: pointer;
}

.check-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 90px;
  margin: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.check-back {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #242528;
  background-color: #83d2e1;
}

.wrper-check {
  position: relative;
}

.ride {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.subtitle {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: Mplus1p, sans-serif;
  font-size: 0.4em;
  line-height: 1.4;
  font-weight: 400;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero-home {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #242528;
  text-align: center;
}

.hero-p {
  font-family: Montserrat, sans-serif;
}

.body {
  background-image: url('../images/yellow-flower-1.png');
  background-position: 0px 0px;
  background-size: auto;
}

.button-2 {
  background-color: #7a7a7a;
}

.text-block {
  margin-bottom: 40px;
}

.background-video {
  z-index: 1;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .button.margin-top.back {
    display: inline-block;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .img-m-i {
    height: 25.33vh;
  }

  .grid-form {
    display: none;
    width: 100%;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .content {
    width: 100%;
    height: 92vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .button-wrap-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  .footer-2 {
    padding: 40px 20px;
  }

  .bg {
    font-size: 2.3em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 24px;
  }

  .button.long {
    min-width: 90vw;
    padding-right: 60px;
    padding-left: 60px;
  }

  .brand {
    padding-left: 0px;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .checkbox-new {
    min-height: auto;
  }

  .grid-invite {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 0.5fr 0.75fr 1.75fr;
    grid-template-columns: 1fr 1fr 0.5fr 0.75fr 1.75fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .img-m-i {
    height: 23.33vh;
  }

  .bg {
    font-size: 1.9em;
  }

  .bg.is--black-h {
    font-size: 2.5em;
  }

  .grid-form {
    display: none;
    height: 65vh;
    padding-bottom: 20px;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-right-width: 0px;
    border-left-width: 0px;
  }

  .content {
    height: 90vh;
  }

  .button-wrap-mobile {
    overflow: hidden;
    height: 10vh;
  }

  .lottie-animation {
    top: 5%;
    right: 39%;
  }

  .heading {
    font-size: 28px;
  }
}

#w-node-_154de676-3f56-d416-ddac-523f7550c7c3-b019579a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f384cc6d-e8ec-7901-4efb-a85da073d29b-b019579a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

#w-node-_154de676-3f56-d416-ddac-523f7550c7ab-b019579a {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_154de676-3f56-d416-ddac-523f7550c7af-b019579a {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_154de676-3f56-d416-ddac-523f7550c7b2-b019579a {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_154de676-3f56-d416-ddac-523f7550c7b3-b019579a {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_154de676-3f56-d416-ddac-523f7550c7b4-b019579a {
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_154de676-3f56-d416-ddac-523f7550c7ba-b019579a {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 479px) {
  #w-node-_154de676-3f56-d416-ddac-523f7550c7ab-b019579a {
    -ms-grid-column: span 4;
    grid-column-start: span 4;
    -ms-grid-column-span: 4;
    grid-column-end: span 4;
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }

  #w-node-_154de676-3f56-d416-ddac-523f7550c7af-b019579a {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }

  #w-node-_154de676-3f56-d416-ddac-523f7550c7b2-b019579a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }

  #w-node-_154de676-3f56-d416-ddac-523f7550c7b3-b019579a {
    -ms-grid-column: span 3;
    grid-column-start: span 3;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
    -webkit-box-ordinal-group: 10000;
    -webkit-order: 9999;
    -ms-flex-order: 9999;
    order: 9999;
  }

  #w-node-_154de676-3f56-d416-ddac-523f7550c7b4-b019579a {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_154de676-3f56-d416-ddac-523f7550c7ba-b019579a {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
}

@font-face {
  font-family: 'Mplus1p';
  src: url('../fonts/MPLUS1p-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mplus1p';
  src: url('../fonts/MPLUS1p-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}